* {
	margin: 0;
	padding: 0;
	/* border box means width and height defined will contain
  padding as well */
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;

	scroll-behavior: smooth;
}

.row {
	max-width: 1140px;
	/* margin:trbl */
	margin: 0 auto 0 auto;
}

.mobile-nav-icon {
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
	font-size: 200%;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	/* translate - to translate the element half of its width */
	transform: translate(-50%, -50%);
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
		url(img/bg14.jpg);
	/* to cover the complete page use cover in width */
	background-size: cover;
	background-attachment: fixed;
	opacity: 1;

	background-position: center;
	/* to cover the complete page use cover in height */
	height: 100vh;
}

/* ------------------------------------------------------------------------- */
/* generic links - a*/
/* ------------------------------------------------------------------------- */
a:link,
a:visited {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2%;
	padding: 10px;
}

a:hover,
a:active {
	/* color: #e67e22; */
	border-bottom: 2px solid #e67e22;

	/* text-decoration-style: wavy; */
}

/* ------------------------------------------------------------------------- */
/* headings */
/* ------------------------------------------------------------------------- */

h1,
h2,
h3 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: background-color 0.2%, border 0.2%, color 0.2%;
}

h1 {
	color: #fff;
	font-size: 270%;
	font-weight: 400;
	word-spacing: 3px;
	margin-bottom: 30px;
	/* text-shadow: 0.5px 0.5px; */
}

h3 {
	font-size: 100%;
	font-weight: 400;
	/* word-spacing: 1px; */
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
	/* text-shadow: 0.5px 0.5px red; */
	/* border: solid 2px coral; */
	/* background-color: coral; */
}

h2 {
	font-size: 180%;
	font-weight: 400;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 10px;
	margin-bottom: 30px;
	/* text-shadow: 1px 1px violet; */
}

h2:after {
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: "";
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

.logo,
.logo-black {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.logo-black {
	display: none;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 50px;
}

.main-nav li {
	display: inline-block;
	margin-left: 20px;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f4f4f4;
	box-shadow: 0.5px 1px #888888;
	z-index: 999;
	/*to keep this on top stack
  	/* box-shadow: 0 2px; */
	/* border-bottom: #555 1px solid; */
	/* 0 - x
  2px - y axis */
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	color: #555;
}

.sticky .logo-black {
	display: block;
	height: 50px;
	width: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sticky .logo {
	display: none;
}

.sticky .main-nav {
	margin-top: 15px;
}

/* 
.sticky .main-nav li {
	display: inline-block;
	margin-left: 20px;
	background-color: blue;
} */
/* .main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2%;
  padding: 10px;
}
.main-nav li a:hover,
.main-nav li a:active {
  /* color: #e67e22; */
/* border-bottom: 2px solid #e67e22; */

/* text-decoration-style: wavy; */
/* } */

/* ------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------- */

.btn:visited,
.btn:link,
input[type="submit"] {
	display: inline-block;
	/* 10 t , b . 30 l r */
	/* padding: 5px, 30px; */
	font-weight: 400;
	text-decoration: none;
	border-radius: 170px;
	margin-top: 5px;
	/* padding: 10px; */
	padding: 15px 22px;
	/* font-size: 5px; */
	transition: background-color 0.2%, border 0.2%, color 0.2%;
	text-transform: none;
	/* text-size-adjust: inherit; */
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
	border-radius: 100px;
	background-color: #e67e22;
	margin-right: 10px;
	color: #fff;
	/* padding: 2px; */
}

.btn-ghost:link,
.btn-ghost:visited {
	border-radius: 250px;
	/* background-color: rgb(79, 138, 64); */
	background-color: rgb(34, 2, 2);
	color: #e67e22;
	font-weight: 500;
	/* background: transparent; */
	border: 1px solid #e67e22;
}

.btn-full:hover,
.btn-full:active {
	background-color: #ce6912;
	border: 1px solid #b05d14;
	/* color: #b05d14; */
	/* border */
}

.btn-ghost:hover,
.btn-ghost:active {
	background-color: #ce6912;
	border: 1px solid #fff;
	color: #fff;
	/* border: 0; */
}

/* ------------------------------------------------------------------------- */
/* Section */
/* ------------------------------------------------------------------------- */
section {
	padding: 70px 0px;
}

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20px;
}

.box {
	padding: 2%;
	text-align: left;
	/* border: 1px solid; */
	/* background-color: yellow; */
}

.icon-big {
	font-size: 300%;
	display: block;
	color: #e67e22;
}

/* ------------------------------------------------------------------------- */
/* Section meals photo*/
/* ------------------------------------------------------------------------- */
.meals {
	padding: 0px;
}

.meals-showcase {
	width: 100%;
	list-style: none;
	padding: 0;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: black;
}

.meal-photo img {
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 1.5s;
	opacity: 0.5;
}

.meal-photo img:hover {
	transform: scale(1);
	opacity: 1;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}

/* ------------------------------------------------------------------------- */
/* Section -How it work*/
/* ------------------------------------------------------------------------- */
.section-steps {
	/* background-color: #f4f4f4; */
	margin-top: 15px;
	/* padding: 5px; */
}

.section-steps h2 {
	margin-top: 15px;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
	/* border: 1px solid green; */
}

.steps-box:last-child {
	/* text-align: right; */
	padding-left: 3%;
	margin-top: 70px;
	/* border: 2px solid green; */
}

.app-screen {
	width: 40%;
	/* text-align: center; */
}

.works-step {
	text-align: left;
	margin-top: 70px;
	padding: 0px;
	/* margin-bottom: 10px; */
	/* border: 1px solid green; */
}

.works-step div {
	color: #e67e22;
	border: 2px solid #e67e22;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	padding: 5px;
	float: left;
	padding-top: 10px;
	margin-right: 10px;
	font-size: 125%;
}

.works-step {
	margin-top: 10px;
	padding-top: 30px;
	margin: 10px;
}

.btn-app {
	display: inline-block;
	margin-left: 20px;
	/* padding-top: 10px; */
	margin-top: 10px;
	/* text-align: right; */
}

.btn-app img {
	height: 50px;
	width: auto;
	margin-top: 20px;
	margin-left: 30px;
}

.btn-app:hover,
.btn-app:active {
	border: transparent;
	height: 100px;
}

/* ------------------------------------------------------------------------- */
/* Section -cities*/
/* ------------------------------------------------------------------------- */

.box .city-image {
	width: 200px;
	height: 130px;
	/* height: auto; */
	margin-bottom: 15px;
}

/* .box .city-image:hover {
  transform: scale(1);
  opacity: 1;

} */
.section-cities {
	background-color: #faf4f4;
}

.city-feature {
	margin-bottom: 15px;
}

.icon-small {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #e67e22;
	font-size: 130%;

	line-height: 120%;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 5px;
}

.city-feature a:link,
.city-feature a:visited {
	text-decoration: none;
	color: #ee7914;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: border-bottom 0.1s, color 0.1s;
	font-size: 16px;
}

/* ------------------------------------------------------------------------- */
/* Section -customer testimonial*/
/* ------------------------------------------------------------------------- */
.section-testimonial {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(img/back-customers.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	/* background-size; */
}

.section-testimonial h2,
.section-plan h2,
.section-form h2 {
	margin-top: 35px;
}

blockquote {
	padding: 8%;
	font-style: italic;
	position: relative;
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
	/* vertical-align: middle; */
}

blockquote:before {
	content: "\201C";
	font-size: 400%;
	display: block;
	position: absolute;
	top: 5px;
	left: 0;
}

cite img {
	height: 50px;
	border-radius: 70%;
	margin-right: 10px;
	vertical-align: middle;
}

/* ------------------------------------------------------------------------- */
/* Section -plan*/
/* ------------------------------------------------------------------------- */

.section-plan {
	background-color: #e6dbdb;
}

.plan-box {
	background-color: #fff;
	border-radius: 25px;
	width: 90%;
	margin-left: 5%;
}

.plan-box h3 {
	text-align: center;
	padding-top: 5px;
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e9730c;
}

.plan-price span {
	font-size: 30%;
	font-weight: 300;
}

.plan-price-meal {
	font-size: 80%;
}

.plan-box ul {
	list-style: none;
}

.plan-box ul li {
	padding: 5px 0;
}

.plan-box div:first-child {
	background-color: rgb(214, 213, 213);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 1px 0px 0px #e67e22;
}

.plan-box div:last-child {
	text-align: center;
	border: 0;
	/* background-color: #fcfcfc;
  margin-top: 1px;
  margin-bottom: 2px; */
	/* box-shadow: 1px 0px 2px 2px #555; */
	/* r b b r */
	/* padding: 5px; */
	/* width: 250px;
  height: 50px; */
}

/* ------------------------------------------------------------------------- */
/* Section -contact-form*/
/* ------------------------------------------------------------------------- */
.section-form {
	width: 60%;
	/* left, right - auto;
  top bottom - 0 */
	margin: 0 auto;
	margin-top: 65px;
	/* background-color: #fcfcfc; */
}

input[type="text"],
input[type="email"],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #555;
}

textarea {
	height: 130px;
}

/* to make the input style work only for button type */
input[type="submit"] {
	width: 15%;
	padding: 2px;
	align-content: center;
}

input[type="submit"]:hover {
	background-color: #bd712f5e;
	color: #e67e22;
	transition: background-color 0.2%, border 0.2%, color 0.2%;
}

input[type="checkbox"] {
	margin: 10px 5px 10px 0;
}

/* to remove the border added by chrome on input fields */
*:focus {
	outline: none;
}

/* ------------------------------------------------------------------------- */
/* Section -footer*/
/* ------------------------------------------------------------------------- */

footer {
	background-color: #222;
	margin-top: 1px;
	width: auto;
	height: 150px;
	padding: 30px;
	/* background-color: #; */
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
	margin-left: 0px;
	padding-left: 0px;
	font-size: 18px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:visited,
.social-links li a:link {
	color: #f4f4f4;
	text-decoration: none;
	border: none;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #e67e22;
	text-decoration: none;
	border: none;
	transition: color 0.3s;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 120%;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
	color: #3b5998;
	/* font-size: 175%; */
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
	color: #00aced;
	/* font-size: 175%; */
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
	color: #517fa4;
	/* font-size: 175%; */
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active {
	color: #d34836;
	/* font-size: 175%; */
}

.social-links li:last-child {
	/* display: inline-block; */
	margin-right: 0px;
	/* margin-left: 0px;
  padding-left: 0px;
  font-size: 18px; */
}

footer p {
	color: #b8b3b3fd;
	text-align: center;
	margin-top: 30px;
}

.plan-box .sign-up:link,
.plan-box .sign-up:visited {
	background-color: #e67e22;
	font-size: 80%;
	margin: 5px;
	padding: 5px;
	text-transform: none;
	color: white;
	font-weight: 50%;
	background: solid 1px;
}

.plan-box .sign-up:active,
.plan-box .sign-up:hover {
	background-color: #555;
	font-size: 80%;
	margin: 5px;
	padding: 5px;
	/* transform: scale(2); */
	color: #e67e22;
	font-weight: 50%;
	background: solid 1px;
	border: 1px solid #e67e22;
	transition: color 3s;
}

/* ------------------------------------------------------------------------- */
/* animations*/
/* ------------------------------------------------------------------------- */
.js--wp--1,
.js--wp--2,
.js--wp--3 {
	opacity: 0;
	animation-duration: 1s;
}

.js--wp--1.animated,
.js--wp--2.animated,
.js--wp--3.animated {
	opacity: 1;
}

.js--wp--4.animated,
.js--wp--5.animated {
	opacity: 1;
	animation-duration: 1s;
}